.score
{
    background-color: rgb(255, 116, 116);
}
.buttonsSection
{

    background-color: rgb(120, 122, 255);
    height: 100vh;
}
.againButton
{
    visibility: hidden;
}
.comment
{
    font-size: large;
}